## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from IEX for the period ‘2015-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='iex', start='2015-1-1')['close']

In [3]:
returns = np.log(data / data.shift(1))
returns

                MSFT      AAPL
date
2015-01-02       NaN       NaN
2015-01-05 -0.009347 -0.028576
2015-01-06 -0.014679  0.000094
2015-01-07  0.012625  0.013925
2015-01-08  0.028994  0.037702
2015-01-09 -0.008440  0.001072
2015-01-12 -0.012583 -0.024949
2015-01-13 -0.005271  0.008839
2015-01-14 -0.008666 -0.003818
2015-01-15 -0.010390 -0.027515
2015-01-16  0.016573 -0.007800
2015-01-20  0.003237  0.025430
2015-01-21 -0.010181  0.007605
2015-01-22  0.026009  0.025683
2015-01-23  0.001061  0.005147
2015-01-26 -0.003611  0.001061
2015-01-27 -0.097099 -0.035641
2015-01-28 -0.035066  0.054993
2015-01-29  0.019712  0.030658
2015-01-30 -0.039077 -0.014742
2015-02-02  0.021550  0.012468
2015-02-03  0.007722  0.000169
2015-02-04  0.005752  0.007641
2015-02-05  0.014473  0.007112
2015-02-06 -0.000941 -0.008457
2015-02-09 -0.001180  0.006621
2015-02-10  0.005649  0.019030
2015-02-11 -0.005177  0.023169
2015-02-12  0.016614  0.012573
2015-02-13  0.017938  0.004891
...              ...       ...
2019-04-18  0.013054  0.003587
2019-04-22  0.003157  0.003281
2019-04-23  0.013483  0.014320
2019-04-24 -0.003434 -0.001544
2019-04-25  0.032581 -0.009117
2019-04-26  0.005714 -0.004785
2019-04-29 -0.000925  0.001516
2019-04-30  0.006375 -0.019444
2019-05-01 -0.021046  0.047919
2019-05-02 -0.013146 -0.006529
2019-05-03  0.021090  0.012355
2019-05-06 -0.005835 -0.015563
2019-05-07 -0.020736 -0.027327
2019-05-08 -0.000080  0.000197
2019-05-09 -0.000079 -0.010803
2019-05-10  0.012904 -0.013950
2019-05-13 -0.030184 -0.059877
2019-05-14  0.011125  0.015706
2019-05-15  0.013984  0.011908
2019-05-16  0.022829 -0.004409
2019-05-17 -0.006693 -0.005698
2019-05-20 -0.014551 -0.031769
2019-05-21  0.005373  0.018989
2019-05-22  0.006049 -0.020684
2019-05-23 -0.011739 -0.017217
2019-05-24  0.000475 -0.003848
2019-05-28 -0.000634 -0.004143
2019-05-29 -0.009717 -0.004781
2019-05-30  0.006303  0.005173
2019-05-31 -0.016439 -0.018282

[1110 rows x 2 columns]

### MSFT

Daily risk:

In [4]:
returns['MSFT'].std()

0.014994486807463726

Annual risk:

In [5]:
returns['MSFT'].std() * 250 ** 0.5

0.2370836532846601

### Apple

Daily risk:

In [6]:
returns['AAPL'].std()

0.015885702706847502

Annual risk:

In [7]:
returns['AAPL'].std() * 250 ** 0.5

0.25117501392970104

******

Store the volatilities of the two stocks in an array called "vols".

In [8]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.237084
AAPL    0.251175
dtype: float64

How are the two risk values different?