## Calculating Covariance and Correlation

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [6]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [7]:
tickers = ['WMT', 'FB']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='iex', start='2015-1-1')['close']

In [8]:
sec_data.head()

                WMT      FB
date
2015-01-02  76.1120  78.450
2015-01-05  75.8905  77.190
2015-01-06  76.4752  76.150
2015-01-07  78.5043  76.150
2015-01-08  80.1612  78.175

In [9]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                 WMT        FB
date
2015-01-02       NaN       NaN
2015-01-05 -0.002914 -0.016192
2015-01-06  0.007675 -0.013565
2015-01-07  0.026187  0.000000
2015-01-08  0.020886  0.026245
2015-01-09 -0.012456 -0.005580
2015-01-12  0.007470 -0.013207
2015-01-13 -0.007918 -0.003525
2015-01-14 -0.030698 -0.002226
2015-01-15  0.008850 -0.029670
2015-01-16 -0.007006  0.015145
2015-01-20 -0.000923  0.014001
2015-01-21 -0.000577  0.006537
2015-01-22  0.018979  0.011788
2015-01-23  0.002376  0.002315
2015-01-26  0.001355 -0.004314
2015-01-27 -0.012489 -0.022379
2015-01-28 -0.008145  0.006052
2015-01-29  0.010314  0.022823
2015-01-30 -0.031734 -0.027160
2015-02-02  0.008553 -0.012194
2015-02-03  0.005585  0.005453
2015-02-04  0.005323  0.003046
2015-02-05  0.007244 -0.000198
2015-02-06  0.000573 -0.015258
2015-02-09 -0.016394 -0.000403
2015-02-10  0.015936  0.010025
2015-02-11 -0.010944  0.017403
2015-02-12 -0.005225 -0.003666
2015-02-13 -0.000932 -0.006449
...              ...       ...
2019-04-18  0.000194 -0.002801
2019-04-22 -0.007881  0.017570
2019-04-23  0.006815  0.012814
2019-04-24  0.004452 -0.006551
2019-04-25 -0.000096  0.056848
2019-04-26 -0.019411 -0.009201
2019-04-29  0.000296  0.017035
2019-04-30  0.012524 -0.007110
2019-05-01 -0.014496 -0.001915
2019-05-02 -0.002074 -0.002594
2019-05-03  0.009152  0.015155
2019-05-06  0.003716 -0.008168
2019-05-07 -0.011386 -0.021427
2019-05-08 -0.009921 -0.001213
2019-05-09 -0.002308 -0.004707
2019-05-10  0.023530 -0.001645
2019-05-13 -0.020020 -0.036773
2019-05-14  0.003996 -0.004472
2019-05-15 -0.004097  0.030193
2019-05-16  0.014216  0.003858
2019-05-17 -0.004452 -0.009079
2019-05-20  0.006522 -0.014021
2019-05-21 -0.003948  0.011427
2019-05-22  0.010917  0.002702
2019-05-23 -0.003626 -0.024306
2019-05-24  0.007921  0.001050
2019-05-28 -0.002438  0.017791
2019-05-29 -0.002933 -0.011569
2019-05-30  0.000685  0.004491
2019-05-31 -0.007366 -0.030739

[1110 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [10]:
returns[['WMT', 'FB']].mean() * 250

WMT    0.064757
FB     0.184026
dtype: float64

In [11]:
returns[['WMT', 'FB']].std() * 250 ** 0.5

WMT    0.200759
FB     0.286726
dtype: float64

### Varience of WMT

***

In [13]:
WMT_var = returns['WMT'].var()
WMT_var

0.00016121634075394565

# Annualize values

In [14]:
WMT_var = returns['WMT'].var() * 250
WMT_var

0.04030408518848641

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

***

In [7]:
cov_matrix = returns.cov()
cov_matrix

          WMT        FB
WMT  0.000166  0.000036
FB   0.000036  0.000254

In [8]:
cov_matrix_a = returns.cov() * 250
cov_matrix_a

          WMT        FB
WMT  0.041481  0.009076
FB   0.009076  0.063509

#### Caluclate corralation

***

In [9]:
corr_matrix = returns.corr()
corr_matrix

         WMT       FB
WMT  1.00000  0.17682
FB   0.17682  1.00000

Would you consider investing in such a portfolio?

This is corralation of returns and not prices.