## Diversifiable and Non-Diversifiable Risk of a Portfolio

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [10]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                  MSFT        AAPL
Date
2007-01-03   22.395931    7.951960
2007-01-04   22.358421    8.128461
2007-01-05   22.230919    8.070577
2007-01-08   22.448427    8.110430
2007-01-09   22.470930    8.784165
2007-01-10   22.245918    9.204537
2007-01-11   23.025957    9.090670
2007-01-12   23.408472    8.978695
2007-01-16   23.370968    9.214026
2007-01-17   23.325958    9.010009
2007-01-18   23.250961    8.452042
2007-01-19   23.333471    8.397955
2007-01-22   23.040955    8.235688
2007-01-23   23.055954    8.132256
2007-01-24   23.318472    8.227149
2007-01-25   22.838440    8.184447
2007-01-26   22.950956    8.101892
2007-01-29   22.898449    8.155032
2007-01-30   22.860943    8.118024
2007-01-31   23.145956    8.135101
2007-02-01   22.920952    8.041162
2007-02-02   22.643431    8.042109
2007-02-05   22.208418    7.965247
2007-02-06   22.133417    7.985172
2007-02-07   22.028416    8.174958
2007-02-08   21.945906    8.177804
2007-02-09   21.735897    7.901670
2007-02-12   21.705904    8.054446
2007-02-13   21.833849    8.037364
2007-02-14   22.127373    8.094298
...                ...         ...
2019-04-22  123.303581  203.745377
2019-04-23  124.977379  206.684052
2019-04-24  124.548965  206.365295
2019-04-25  128.673691  204.492508
2019-04-26  129.410965  203.516266
2019-04-29  129.291412  203.825073
2019-04-30  130.118362  199.900192
2019-05-01  127.408379  209.712402
2019-05-02  125.744537  208.347656
2019-05-03  128.424606  210.937683
2019-05-06  127.677376  207.680222
2019-05-07  125.057083  202.081787
2019-05-08  125.047127  202.121628
2019-05-09  125.037155  199.949997
2019-05-10  126.661148  197.179993
2019-05-13  122.895088  185.720001
2019-05-14  124.270004  188.660004
2019-05-15  126.019997  190.919998
2019-05-16  128.929993  190.080002
2019-05-17  128.070007  189.000000
2019-05-20  126.220001  183.089996
2019-05-21  126.900002  186.600006
2019-05-22  127.669998  182.779999
2019-05-23  126.180000  179.660004
2019-05-24  126.239998  178.970001
2019-05-28  126.160004  178.229996
2019-05-29  124.940002  177.380005
2019-05-30  125.730003  178.300003
2019-05-31  123.680000  175.070007
2019-06-03  119.839996  173.300003

[3125 rows x 2 columns]

In [11]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3125 entries, 2007-01-03 to 2019-06-03
Data columns (total 2 columns):
MSFT    3125 non-null float64
AAPL    3125 non-null float64
dtypes: float64(2)
memory usage: 73.2 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [12]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
2007-01-10 -0.010064  0.046746
2007-01-11  0.034464 -0.012448
2007-01-12  0.016476 -0.012394
2007-01-16 -0.001603  0.025872
2007-01-17 -0.001928 -0.022391
2007-01-18 -0.003220 -0.063928
2007-01-19  0.003542 -0.006420
2007-01-22 -0.012616 -0.019511
2007-01-23  0.000651 -0.012639
2007-01-24  0.011322  0.011601
2007-01-25 -0.020801 -0.005204
2007-01-26  0.004915 -0.010138
2007-01-29 -0.002290  0.006538
2007-01-30 -0.001639 -0.004548
2007-01-31  0.012390  0.002101
2007-02-01 -0.009769 -0.011615
2007-02-02 -0.012182  0.000118
2007-02-05 -0.019398 -0.009603
2007-02-06 -0.003383  0.002498
2007-02-07 -0.004755  0.023489
2007-02-08 -0.003753  0.000348
2007-02-09 -0.009615 -0.034350
2007-02-12 -0.001381  0.019150
2007-02-13  0.005877 -0.002123
2007-02-14  0.013354  0.007059
...              ...       ...
2019-04-22  0.003156  0.003281
2019-04-23  0.013483  0.014320
2019-04-24 -0.003434 -0.001543
2019-04-25  0.032581 -0.009117
2019-04-26  0.005713 -0.004785
2019-04-29 -0.000924  0.001516
2019-04-30  0.006376 -0.019444
2019-05-01 -0.021047  0.047919
2019-05-02 -0.013145 -0.006529
2019-05-03  0.021090  0.012355
2019-05-06 -0.005835 -0.015563
2019-05-07 -0.020736 -0.027327
2019-05-08 -0.000080  0.000197
2019-05-09 -0.000080 -0.010802
2019-05-10  0.012904 -0.013950
2019-05-13 -0.030184 -0.059877
2019-05-14  0.011126  0.015706
2019-05-15  0.013984  0.011908
2019-05-16  0.022829 -0.004409
2019-05-17 -0.006693 -0.005698
2019-05-20 -0.014551 -0.031769
2019-05-21  0.005373  0.018990
2019-05-22  0.006049 -0.020684
2019-05-23 -0.011739 -0.017217
2019-05-24  0.000475 -0.003848
2019-05-28 -0.000634 -0.004143
2019-05-29 -0.009717 -0.004780
2019-05-30  0.006303  0.005173
2019-05-31 -0.016439 -0.018282
2019-06-03 -0.031540 -0.010162

[3125 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [13]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [14]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.06413481539380711

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [15]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.073441
dtype: float64

In [16]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.099865
dtype: float64

Or:

In [17]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.07344131881660283

In [18]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.099864627879822

Calculating Diversifiable Risk:

In [19]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.020808328719700904

In [20]:
print (str(round(dr*100, 3)) + ' %')

2.081 %

Calculating Non-Diversifiable Risk:

In [21]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.043326486674106206

Or:

In [22]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.04332648667410621

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [14]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [15]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.08129209809983227

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [16]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

0.013534349901394002

In [17]:
print (str(round(dr*100, 3)) + ' %')

2.115 %

Calculating Non-Diversifiable Risk:

In [18]:
n_dr_2 = pfolio_var_2 - dr_2
n_dr_2

0.06775774819843827

Or:

In [19]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.06775774819843827