## Simpler Returns Single stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
from pandas_datareader import data as wb

In [2]:
# data_source is api from where data is coming
# 'MSFT' Is stock which the data is coming form

In [3]:
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')
MSFT

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400.0,41.959995
2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000.0,40.542572
2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600.0,40.970074
2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600.0,39.597641
2000-01-07,56.125000,53.656250,54.312500,55.718750,62013600.0,40.115097
2000-01-10,56.843750,55.687500,56.718750,56.125000,44963600.0,40.407604
2000-01-11,57.125000,54.343750,55.750000,54.687500,46743600.0,39.372654
2000-01-12,54.437500,52.218750,54.250000,52.906250,66532400.0,38.090237
2000-01-13,54.312500,50.750000,52.187500,53.906250,83144000.0,38.810188
2000-01-14,56.968750,52.875000,53.593750,56.125000,73416400.0,40.407604
2000-01-18,58.250000,55.875000,55.906250,57.656250,81483600.0,41.510029
2000-01-19,55.750000,53.000000,55.250000,53.500000,97568200.0,38.517700
2000-01-20,54.843750,52.937500,53.531250,53.000000,56349800.0,38.157726
2000-01-21,53.625000,51.625000,53.500000,51.875000,68416200.0,37.347775
2000-01-24,52.843750,50.406250,51.898399,50.625000,63597600.0,36.447838
2000-01-25,51.937500,49.781250,50.500000,51.406250,59823200.0,37.010288
2000-01-26,51.750000,49.562500,51.218750,49.687500,49365000.0,35.772873
2000-01-27,50.593750,48.625000,49.945301,49.375000,63654800.0,35.547874
2000-01-28,50.125000,48.625000,49.062500,49.125000,58225400.0,35.367889
2000-01-31,49.093750,47.437500,48.812500,48.937500,73194200.0,35.232876
2000-02-01,51.625000,48.843750,49.250000,51.468750,70196600.0,37.055279
2000-02-02,51.968750,50.250000,51.218750,50.406250,49915600.0,36.290348
2000-02-03,52.093750,50.062500,51.031250,51.812500,49186000.0,37.302761
2000-02-04,54.000000,52.070301,52.187500,53.281250,55365400.0,38.360222
2000-02-07,53.437500,52.125000,53.406250,53.312500,40005800.0,38.382698
2000-02-08,55.000000,53.218750,53.218750,54.968750,56229000.0,39.575130
2000-02-09,54.718750,51.937500,54.718750,52.000000,55090000.0,37.437752
2000-02-10,53.281250,51.250000,51.945301,53.000000,54527800.0,38.157726
2000-02-11,52.437500,49.562500,52.437500,49.968750,115559000.0,35.975357
2000-02-14,50.875000,49.531250,50.617149,49.812500,81028600.0,35.862865
...,...,...,...,...,...,...
2019-04-18,123.519997,121.300003,122.190002,123.370003,27991000.0,122.915016
2019-04-22,124.000000,122.570000,122.620003,123.760002,15648700.0,123.303581
2019-04-23,125.580002,123.830002,124.099998,125.440002,24025500.0,124.977379
2019-04-24,125.849998,124.519997,125.790001,125.010002,31257000.0,124.548965
2019-04-25,131.369995,128.830002,130.059998,129.149994,38033900.0,128.673691
2019-04-26,130.520004,129.020004,129.699997,129.889999,23654900.0,129.410965
2019-04-29,130.179993,129.350006,129.899994,129.770004,16324200.0,129.291412
2019-04-30,130.699997,129.389999,129.809998,130.600006,24166500.0,130.118362
2019-05-01,130.649994,127.699997,130.529999,127.879997,26821700.0,127.408379
2019-05-02,128.000000,125.519997,127.980003,126.209999,27350200.0,125.744537
2019-05-03,129.429993,127.250000,127.360001,128.899994,24911100.0,128.424606
2019-05-06,128.559998,126.110001,126.389999,128.149994,24239800.0,127.677376
2019-05-07,127.180000,124.220001,126.459999,125.519997,36017700.0,125.057083
2019-05-08,126.370003,124.750000,125.440002,125.510002,28419000.0,125.047127
2019-05-09,125.790001,123.570000,124.290001,125.500000,27235800.0,125.037155
2019-05-10,127.930000,123.820000,124.910004,127.129997,30915100.0,126.661148
2019-05-13,125.550003,123.040001,124.110001,123.349998,33944900.0,122.895088
2019-05-14,125.879997,123.699997,123.870003,124.730003,25266300.0,124.270004
2019-05-15,126.709999,123.699997,124.260002,126.019997,24722700.0,126.019997
2019-05-16,129.380005,126.459999,126.750000,128.929993,30112200.0,128.929993
2019-05-17,130.460007,127.919998,128.309998,128.070007,25770500.0,128.070007
2019-05-20,127.589996,125.760002,126.519997,126.220001,23706900.0,126.220001
2019-05-21,127.529999,126.580002,127.430000,126.900002,15293300.0,126.900002
2019-05-22,128.240005,126.519997,126.620003,127.669998,15396500.0,127.669998
2019-05-23,126.290001,124.739998,126.199997,126.180000,23603800.0,126.180000
2019-05-24,127.419998,125.970001,126.910004,126.239998,14123400.0,126.239998
2019-05-28,128.000000,126.050003,126.980003,126.160004,23128400.0,126.160004
2019-05-29,125.389999,124.040001,125.379997,124.940002,22763100.0,124.940002
2019-05-30,125.760002,124.779999,125.260002,125.730003,16804200.0,125.730003
2019-05-31,124.614998,123.324997,124.230003,123.680000,26646769.0,123.680000

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [4]:
MSFT.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  41.959995
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  40.542572
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  40.970074
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  39.597641
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  40.115097

In [5]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-05-24,127.419998,125.970001,126.910004,126.239998,14123400.0,126.239998
2019-05-28,128.000000,126.050003,126.980003,126.160004,23128400.0,126.160004
2019-05-29,125.389999,124.040001,125.379997,124.940002,22763100.0,124.940002
2019-05-30,125.760002,124.779999,125.260002,125.730003,16804200.0,125.730003
2019-05-31,124.614998,123.324997,124.230003,123.680000,26646769.0,123.680000

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [6]:
MSFT['simple_return'] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
print (MSFT['simple_return'])

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010545
2000-01-06   -0.033498
2000-01-07    0.013068
2000-01-10    0.007292
2000-01-11   -0.025613
2000-01-12   -0.032571
2000-01-13    0.018901
2000-01-14    0.041160
2000-01-18    0.027283
2000-01-19   -0.072087
2000-01-20   -0.009346
2000-01-21   -0.021226
2000-01-24   -0.024096
2000-01-25    0.015432
2000-01-26   -0.033434
2000-01-27   -0.006290
2000-01-28   -0.005063
2000-01-31   -0.003817
2000-02-01    0.051725
2000-02-02   -0.020643
2000-02-03    0.027898
2000-02-04    0.028348
2000-02-07    0.000586
2000-02-08    0.031067
2000-02-09   -0.054008
2000-02-10    0.019231
2000-02-11   -0.057193
2000-02-14   -0.003127
                ...
2019-04-18    0.013140
2019-04-22    0.003161
2019-04-23    0.013575
2019-04-24   -0.003428
2019-04-25    0.033117
2019-04-26    0.005730
2019-04-29   -0.000924
2019-04-30    0.006396
2019-05-01   -0.020827
2019-05-02   -0.013059
2019-05-03    0.021314
2019-05-06   -0.005818
2019-05-07   -0.020523
2019-05-08   -0.000080
2019-05-09   -0.000080
2019-05-10    0.012988
2019-05-13   -0.029733
2019-05-14    0.011188
2019-05-15    0.014082
2019-05-16    0.023092
2019-05-17   -0.006670
2019-05-20   -0.014445
2019-05-21    0.005387
2019-05-22    0.006068
2019-05-23   -0.011671
2019-05-24    0.000475
2019-05-28   -0.000634
2019-05-29   -0.009670
2019-05-30    0.006323
2019-05-31   -0.016305
Name: simple_return, Length: 4883, dtype: float64