## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [9]:
# These two data put in variable and date

In [2]:
tickers = ['MSFT', 'AAPL']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']

In [ ]:
# Table below is log retruns of the two securites

In [3]:
returns = np.log(data / data.shift(1))
returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
2000-01-10  0.007265 -0.017744
2000-01-11 -0.025946 -0.052505
2000-01-12 -0.033114 -0.061847
2000-01-13  0.018725  0.104070
2000-01-14  0.040335  0.037405
2000-01-18  0.026917  0.034255
2000-01-19 -0.074817  0.024942
2000-01-20 -0.009390  0.063071
2000-01-21 -0.021455 -0.019461
2000-01-24 -0.024391 -0.046547
2000-01-25  0.015314  0.054934
2000-01-26 -0.034006 -0.018545
2000-01-27 -0.006310 -0.001703
2000-01-28 -0.005076 -0.079190
2000-01-31 -0.003825  0.020694
2000-02-01  0.050431 -0.034317
2000-02-02 -0.020859 -0.014443
2000-02-03  0.027516  0.044534
2000-02-04  0.027954  0.044373
2000-02-07  0.000586  0.054615
2000-02-08  0.030594  0.007098
2000-02-09 -0.055521 -0.019781
2000-02-10  0.019049  0.007739
2000-02-11 -0.058894 -0.042751
2000-02-14 -0.003132  0.062921
...              ...       ...
2019-04-22  0.003156  0.003281
2019-04-23  0.013483  0.014320
2019-04-24 -0.003434 -0.001543
2019-04-25  0.032581 -0.009117
2019-04-26  0.005713 -0.004785
2019-04-29 -0.000924  0.001516
2019-04-30  0.006376 -0.019444
2019-05-01 -0.021047  0.047919
2019-05-02 -0.013145 -0.006529
2019-05-03  0.021090  0.012355
2019-05-06 -0.005835 -0.015563
2019-05-07 -0.020736 -0.027327
2019-05-08 -0.000080  0.000197
2019-05-09 -0.000080 -0.010802
2019-05-10  0.012904 -0.013950
2019-05-13 -0.030184 -0.059877
2019-05-14  0.011126  0.015706
2019-05-15  0.013984  0.011908
2019-05-16  0.022829 -0.004409
2019-05-17 -0.006693 -0.005698
2019-05-20 -0.014551 -0.031769
2019-05-21  0.005373  0.018990
2019-05-22  0.006049 -0.020684
2019-05-23 -0.011739 -0.017217
2019-05-24  0.000475 -0.003848
2019-05-28 -0.000634 -0.004143
2019-05-29 -0.009717 -0.004780
2019-05-30  0.006303  0.005173
2019-05-31 -0.016439 -0.018282
2019-06-03 -0.031540 -0.010162

[4884 rows x 2 columns]

### MSFT

Daily risk:

In [4]:
returns['MSFT'].std()

0.019198120813965738

Annual risk:

In [5]:
returns['MSFT'].std() * 250 ** 0.5

0.3035489428360872

### Calculate Mean of Microsoft

In [14]:
returns['MSFT'].mean()

0.00021491722678973086

In [16]:
returns['MSFT'].mean() * 250

0.05372930669743271

### End of Mean

### Apple

Daily risk:

returns['AAPL'].std()

Annual risk:

In [7]:
returns['AAPL'].std() * 250 ** 0.5

0.4225671733828101

### Calculate Mean of Apple

In [19]:
returns['AAPL'].mean()

0.0008557018586323228

In [20]:
returns['AAPL'].mean() * 250

0.2139254646580807

******

Store the volatilities of the two stocks in an array called "vols".

## Standard deviation

In [8]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.303549
AAPL    0.422567
dtype: float64

How are the two risk values different?

## Mean of two securities

In [23]:
vols_mean = returns[['MSFT', 'AAPL']].mean() * 250 ** 0.5
vols_mean

MSFT    0.003398
AAPL    0.013530
dtype: float64